evaluate_offer.json
{
  "name": "evaluate_offer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluate-offer",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "be343b3c-c130-42b5-8851-d55ff08f0ae2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-service:5001/parse-input",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "e2",
      "name": "Parse Input",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Loads",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "load_id",
              "lookupValue": "={{ $json.load_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3",
      "name": "Get Load",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        752,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-service:5001/evaluate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({}, $json, { offered_rate: $(\"Parse Input\").first().json.offered_rate,  carrier_name: $(\"Parse Input\").first().json.carrier_name,  round:        $(\"Parse Input\").first().json.round,  toolCallId:   $(\"Parse Input\").first().json.toolCallId })) }}",
        "options": {}
      },
      "id": "e4",
      "name": "Evaluate Offer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Loads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "load_id"
          ],
          "value": {
            "load_id": "={{ $json.load_id }}",
            "status": "={{ $json.status }}",
            "agreed_rate": "={{ $json.agreed_rate }}",
            "carrier_name": "={{ $json.carrier_name }}"
          }
        },
        "options": {}
      },
      "id": "e5",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1264,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-service:5001/format-evaluate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ decision: $(\"Evaluate Offer\").first().json.decision, message: $(\"Evaluate Offer\").first().json.message, agreed_rate: $(\"Evaluate Offer\").first().json.agreed_rate, toolCallId: $(\"Evaluate Offer\").first().json.toolCallId }) }}",
        "options": {}
      },
      "id": "e6",
      "name": "Format Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "e7",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Get Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Load": {
      "main": [
        [
          {
            "node": "Evaluate Offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Offer": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "nodeGroups": [],
  "id": "A6sQW0D3Xc4s2294",
  "tags": []
}