n8n/get_load.json
{
  "name": "get_load",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-load",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "n1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        256,
        304
      ],
      "webhookId": "72b48b38-5b5e-489b-ba7c-5d6b002ed58f"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-service:5001/parse-input",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "n2",
      "name": "Parse Input",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Loads",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "load_id",
              "lookupValue": "={{ $json.load_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n3",
      "name": "Get Load",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        752,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://python-service:5001/format-get-load",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({}, $json, { toolCallId: $(\"Parse Input\").first().json.toolCallId })) }}",
        "options": {}
      },
      "id": "n4",
      "name": "Format Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "n5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1264,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Get Load",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Load": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "nodeGroups": [],
  "id": "znYecPwyh6zOQia7",
  "tags": []
}